 * {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin-left: 0;

}

.navbar {
  background: #ff5200;
  color: white;
  padding: 20px 50px;
  width: 100;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button{
  width: 100px;
  border-radius: 20px;
}
.logo{
  width: 10%;
  aspect-ratio: 5902/1911;
  height:auto;
}
.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
  font-weight: 600;
}

.hero {
  position: relative;
  height: 700px;
  text-align: center;
  padding-top: 100px;
  background-color: #ff5200; /* optional */
  overflow: hidden;
}

.hero p {
  font-size: 3rem;
  font-weight: 700;
  color: white;
  width: 800px;
  margin: 0 auto 30px;
}

.hero input {
  width: 400px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}


.food_card {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card img {
  width: 400px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}
/* Left Image */
.left-img {
  position: absolute;
  left: 0px;
  top: 100px;
  width: 250px;
  height: auto;
}

/* Right Image */
.right-img {
  position: absolute;
  right: 0px;
  top: 100px;
  width: 250px;
  height: auto;
}

.categories {
  padding: 40px;
}

.category-list {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.category-card {
  min-width: 120px;
  background: #f1f1f1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.restaurants {
  padding: 40px;
}

.restaurant-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.restaurant-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  transition: 0.3s;
}

.restaurant-card:hover {
  transform: translateY(-8px);
}

.restaurant-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
  margin-top: 40px;
}